{% extends "base.html" %}
{% block content%}

<div1>
<h1>APS</h1>
<table style="width:40%">
    <tr>
        <th>BSSID</th>
        <th>SSID</th>
        <th>CHANNEL</th>
    </tr>
    {% for ap in aps %}
        {% if ap.ssid %}
            <tr>
                <td><a href="/ap/{{ ap.mac }}">{{ ap.mac }}</a></td>
                <td>{{ ap.ssid }}</td>
                <td>{{ ap.channel }}</td>
            </tr>
        {% endif %}
    {% endfor %}
</table>

<h1>OCULTOS</h1>
<table style=width:30%>
    <tr>
        <th>BSSID</th>
        <th>CHANNEL</th>
    </tr>
    {% for ap in aps %}
        {% if not ap.ssid %}
            <tr>
                <td><a href="/ap/{{ ap.mac }}">{{ ap.mac }}</a></td>
                <td>{{ ap.channel }}</td>
            </tr>
        {% endif %}
    {% endfor %}
</table>

</div1>

<div2>
<h1>STATIONS</h1>
<table style="width:100%">
    <tr>
        <th>MAC</th>
        <th>Conectado</th>
    </tr>
    {% for st in stations %}
        <tr>
            <td>{{ st.mac }}</td>
            <td>{{ st.ap }}</td>
        </tr>
    {% endfor %}
</table>
</div2>

<div3 align="center">
<h1>ATAQUES</h1>
<table style="width:100%">
    <tr>
        <th>MAC</th>
        <th>Atacando</th>
    </tr>
    {% for (attacker, ap) in attackers %}
        <tr>
            <td>{{ attacker }}</td>
            <td>{{ ap }}</td>
        </tr>
    {% endfor %}
</table>

</div3>

{% endblock%}
