{% extends "base.html" %}
{% block content%}

<h1>APS</h1>

<table style="width:100%">
    <tr>
        <th>BSSID</th>
        <th>SSID</th>
        <th>CHANNEL</th>
    </tr>
    {% for ap in aps %}
    <tr>
        <td>{{ ap.mac }}</td>
        <td>{{ ap.ssid }}</td>
        <td>{{ ap.channel }}</td>
    </tr>
    {% endfor %}
</table>

<h1>STATIONS</h1>


<table style="width:100%">
    <tr>
        <th>MAC</th>
        <th>Conectado</th>
    </tr>
    {% for st in stations %}
        <tr>
            <td>{{ st.mac }}</td>
            <td>{{ st.ap }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock%}
