{% extends "base.html" %}
{% block content%}

<style>
td,tr{
border: 1px solid #ddd;
    padding: 8px
}
th {
    padding-top: 8;
    padding-bottom: 8px;
    text-align: left;
    background-color: #2D6930;
    color: white;
}
table {
    font-family: Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
}
#ataques{
    width:100%;
    float:right;
}

</style>

<h1>{{ ap.ssid }}</h1>
<h1>{{ ap.bssid }}</h1>

<h2>STATIONS</h2>
<table style="width:100%">
    <tr>
        <th>MAC</th>
    </tr>
    {% for st in stations %}
        <tr>
            <td>{{ st.mac }}</td>
        </tr>
    {% endfor %}
</table>

<h2>ATACANTES</h2>
<table style="width:100%">
    <tr>
        <th>MAC</th>
        <th>Número de Pacotes</th>
    </tr>
    {% for att in attackers %}
        <tr>
            <td>{{ att.src_mac }}</td>
            <td>{{ att.count }}</td>
        </tr>
    {% endfor %}
</table>

<button onclick="goBack()">Go Back</button>

<script>
function goBack() {
    window.history.back();
}
</script>

{% endblock %}
