tr, td {

    padding: 4px;
    text-align: left;
    border: 2px solid #ddd;

}
.left{
   float:left;
   width:30%;
}
.right{
   float:right;
   width:33%;
}


div1{
    float:left;
    }

div2 {
    float:left;
}

